/* Put your custom CSS here */
.left {
    margin: 5px 2px 2px 0px !important;
    float: left !important;
}

.textbook_logo {
    padding-top: 20px;
    height: 110px;
}

.c-page__nav__prev {
    color: #404040 !important;
    border: #00800020 2px solid !important;
    background-color: #00800020 !important;
    margin: 6px;
}

.c-page__nav__prev:hover {
    color: #000000 !important;
    border: #00780020 2px solid !important;
    background-color: #008000c0 !important;
    margin: 6px;
}

.c-page__nav__next {
    color: #404040 !important;
    border: #008000FF 2px solid;
    background-color: #00800080;
    margin: 6px;
}

.c-page__nav__next:hover {
    color: #000000 !important;
    border: #00780020 2px solid;
    background-color: #008000c0;
    margin: 6px;
}

#page-title {
    font-weight: bold;
}


.c-textbook__sidebar {
    NOT_width: 50px;
}


.c-textbook__page {
    NOT_padding-left: 0px;
}


img.textbook_logo {
    height: 45px !important;
    margin: 0 !important;
    padding: 0 !important;
}
